<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ game?.name }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">
    <div class="d-flex justify-content-center">
      <div class="game-card">
        <img [src]="game?.background_image" class="game-image" alt="{{ game?.name }}">
        <div class="card-body">
          <h5 class="card-title">{{ game?.name }}</h5>
          <p class="card-text"><strong>Released:</strong> {{ game?.released }}</p>
          <p class="card-text">{{ game?.description_raw }}</p>
        </div>
      </div>
    </div>

    <h2>Additions</h2>
    <div *ngIf="gameAdditions.length > 0; else noAdditions">
      <div *ngFor="let addition of gameAdditions" class="addition-item">
        <div class="addition-avatar">
          <img [src]="addition.background_image" alt="{{ addition.name }}">
        </div>
        <div class="addition-details">
          <div class="addition-name">{{ addition.name }}</div>
          <div class="addition-released"><strong>Released:</strong> {{ addition.released }}</div>
        </div>
      </div>
    </div>

    <ng-template #noAdditions>
      <div class="alert alert-warning" role="alert">
        No Additions Found
      </div>
    </ng-template>

    <h2>Screenshots</h2>
    <div *ngIf="gameScreenshots.length > 0; else noScreenshots">
      <div *ngFor="let screenshot of gameScreenshots" class="screenshot-item">
        <img [src]="screenshot.image" alt="Screenshot">
      </div>
    </div>

    <ng-template #noScreenshots>
      <div class="alert alert-warning" role="alert">
        No Screenshots Found
      </div>
    </ng-template>

    <!-- <h2>Movie Previews</h2>
    <div *ngIf="gameMovies.length > 0; else noMovies">
      <div *ngFor="let movie of gameMovies" class="movie-item">
        <h3>{{ movie.name }}</h3>
        <video controls [src]="movie.preview" class="movie-preview" type="video/mp4"></video>
      </div>
    </div>

    <ng-template #noMovies>
      <div class="alert alert-warning" role="alert">
        No Movies Found
      </div>
    </ng-template> -->

    <h2>Tags</h2>
    <div *ngIf="gameTags.length > 0; else noTags">
      <div *ngFor="let tag of gameTags" class="tag-item">
        {{ tag.name }}
      </div>
    </div>

    <ng-template #noTags>
      <div class="alert alert-warning" role="alert">
        No Tags Found
      </div>
    </ng-template>

    <ng-template #loading>
      <ion-spinner class="loading-spinner"></ion-spinner>
    </ng-template>
  </div>
</ion-content>
