<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ game?.name }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="d-flex justify-content-center align-items-center h-100">
    <div class="card game-card">
      <img [src]="game?.background_image" class="card-img-top game-image" alt="{{ game?.name }}">
      <div class="card-body">
        <h5 class="card-title">{{ game?.name }}</h5>
        <p class="card-text"><strong>Released:</strong> {{ game?.released }}</p>
        <p class="card-text">{{ game?.description_raw }}</p>
      </div>
    </div>
  </div>

  <h2 class="ion-padding">Additions</h2>
  <ion-list *ngIf="gameAdditions.length > 0; else noAdditions">
    <ion-item *ngFor="let addition of gameAdditions">
      <ion-label>
        <h2>{{ addition.name }}</h2>
        <p>{{ addition.released }}</p>
      </ion-label>
    </ion-item>
  </ion-list>

  <ng-template #noAdditions>
    <div class="ion-padding">
      <h2>No Additions Found</h2>
    </div>
  </ng-template>

  <ng-template #loading>
    <ion-spinner class="loading-spinner"></ion-spinner>
  </ng-template>
</ion-content>
