<app-navbar></app-navbar>

<ion-header>
  <ion-toolbar>
    <ion-title>My Orders</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let order of orders">
      <ion-label>
        <h2>Order ID: {{ order.id }}</h2>
        <p>Status: {{ order.status }}</p>
        <p>Total: €{{ (order.amount / 100).toFixed(2) }}</p>
        <ion-list>
          <ion-item *ngFor="let item of order.items">
            <ion-thumbnail slot="start">
              <img [src]="item.background_image" />
            </ion-thumbnail>
            <ion-label>
              <h3>{{ item.name }}</h3>
              <p>Price: €{{ item.price }}</p>
            </ion-label>
          </ion-item>
        </ion-list>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
