.container {
  max-width: 1200px;
  margin: auto;
  padding: 0 15px;
  color: #ffffff;
}

.card {
  background-color: #3b3b3b;
  border: none;
  border-radius: 0.5rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  color: #ffffff;
}

.card-img-top {
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  object-fit: cover;
  height: 200px;
}

.card-body {
  text-align: center;
}

.row.mb-4 {
  margin-bottom: 1.5rem;
}

.mt-4 {
  margin-top: 1.5rem;
}

.h2, .h4, .h5 {
  margin-bottom: 1rem;
  color: #9b59b6;
}

.p-3 {
  padding: 1rem;
}

.order-summary {
  cursor: pointer;
  background-color: #444444;
  padding: 10px;
  border-radius: 0.5rem;
  transition: background-color 0.3s ease;
}

.order-summary:hover {
  background-color: #555555;
}

.order-details {
  padding-top: 15px;
  border-top: 1px solid #555555;
}

ion-content {
  --background: #2c2c2c;
}
