<app-navbar>
  <ion-header>
    <ion-toolbar>
      <ion-title>Cart</ion-title>
    </ion-toolbar>
  </ion-header>
</app-navbar>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let item of cartItems">
      <ion-thumbnail slot="start">
        <img [src]="item.background_image" />
      </ion-thumbnail>
      <ion-label>
        <h2>{{ item.name }}</h2>
        <p>{{ item.released }}</p>
        <p>Price: €{{ item.price }}</p>
      </ion-label>
      <ion-button color="danger" slot="end" (click)="removeGame(item.id)">Remove</ion-button>
    </ion-item>
  </ion-list>
  <ion-item>
    <ion-label>
      <h2>Total</h2>
    </ion-label>
    <ion-note slot="end">
      €{{ total.toFixed(2) }}
    </ion-note>
  </ion-item>
  <ion-button expand="full" (click)="clearCart()">Clear Cart</ion-button>
</ion-content>
