<ion-header>
  <ion-toolbar>
    <ion-title (click)="goToHomePage()">GameHub</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="goToHomePage()">Home</ion-button>
      <ion-button (click)="goToSignupPage()">Register</ion-button>
      <ion-button (click)="goToLoginPage()">Login</ion-button>
      <ion-button (click)="goToFavouritesPage()">Your Games</ion-button>
      <ion-button (click)="goToRecoomendationsPage()">Recommendation</ion-button>
      <ion-button (click)="goToStoresPage()">Store</ion-button>
      <ion-button (click)="goToOrdersPage()">Orders</ion-button>
      <ion-button (click)="goToCartPage()">Cart</ion-button>
      <ion-button *ngIf="isLoggedIn" (click)="logout()">Logout</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>