<app-navbar>
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/home"></ion-back-button>
      </ion-buttons>
      <ion-title>Achievements</ion-title>
    </ion-toolbar>
  </ion-header>
</app-navbar>

<ion-content>
  <div class="d-flex justify-content-center align-items-center h-100">
    <div class="card achievements-card">
      <div class="card-body">
        <h5 class="card-title text-center">Achievements</h5>
        <ion-list *ngIf="achievements.length > 0; else noAchievements">
          <ion-item *ngFor="let achievement of achievements">
            <ion-avatar slot="start">
              <img [src]="achievement.image" alt="{{ achievement.name }}" />
            </ion-avatar>
            <ion-label>
              <h2>{{ achievement.name }}</h2>
              <p>{{ achievement.description }}</p>
              <p><strong>Percent:</strong> {{ achievement.percent }}%</p>
            </ion-label>
            <ion-checkbox slot="end" [checked]="achievement.completed" (ionChange)="toggleAchievementCompletion(achievement)"></ion-checkbox>
          </ion-item>
        </ion-list>
        <ng-template #noAchievements>
          <div class="text-center">
            <p>No Achievements Found</p>
          </div>
        </ng-template>
      </div>
    </div>
  </div>
</ion-content>
