<app-navbar>
  <ion-header>
    <ion-toolbar>
      <ion-title>Favorites</ion-title>
    </ion-toolbar>
  </ion-header>
</app-navbar>

<ion-content>
  <!-- Status Filter Dropdown -->
  <div class="filter-container">
    <ion-item class="status-filter">
      <ion-label>Filter by Status</ion-label>
      <ion-select [(ngModel)]="selectedStatus" (ionChange)="filterByStatus()">
        <ion-select-option value="all">All</ion-select-option>
        <ion-select-option value="Complete">Complete</ion-select-option>
        <ion-select-option value="In Progress">In Progress</ion-select-option>
        <ion-select-option value="To Do">To Do</ion-select-option>
      </ion-select>
    </ion-item>
  </div>

  <ion-grid>
    <ion-row *ngIf="filteredGames.length > 0">
      <ion-col size="12" size-md="6" size-lg="4" *ngFor="let game of filteredGames">
        <ion-card (click)="goToGameDetails(game.id)">
          <img [src]="game.background_image" class="card-img-top" alt="{{ game.name }}" />
          <ion-card-header>
            <ion-card-title>{{ game.name }}</ion-card-title>
            <ion-card-subtitle>{{ game.released }}</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            <ion-button expand="block" class="remove-button" (click)="removeFromFavorites(game.id); $event.stopPropagation();">
              Remove from Favorites
            </ion-button>
            <ion-button expand="block" class="achievements-button" (click)="goToAchievements(game.id); $event.stopPropagation();">
              View Achievements
            </ion-button>

            <!-- Game Status Dropdown -->
            <ion-item (click)="$event.stopPropagation()">
              <ion-label>Status</ion-label>
              <ion-select [(ngModel)]="game.status" (ionChange)="updateGameStatus(game.id, game.status)">
                <ion-select-option value="Complete">Complete</ion-select-option>
                <ion-select-option value="In Progress">In Progress</ion-select-option>
                <ion-select-option value="To Do">To Do</ion-select-option>
              </ion-select>
            </ion-item>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="filteredGames.length === 0">
      <ion-col size="12" class="ion-text-center">
        <p>You don't have any favorite games with this status.</p>
        <ion-button expand="block" routerLink="/home">
          Click here to get started
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
