<app-navbar>
  <ion-header>
    <ion-toolbar>
      <ion-title>Favorites</ion-title>
      </ion-toolbar>
  </ion-header>
</app-navbar>

<ion-content>
  <ion-grid>
    <ion-row *ngIf="favoriteGames.length > 0">
      <ion-col size="12" size-md="6" size-lg="4" *ngFor="let game of favoriteGames">
        <ion-card (click)="goToGameDetails(game.id)">
          <img [src]="game.background_image" class="card-img-top" alt="{{ game.name }}" />
          <ion-card-header>
            <ion-card-title>{{ game.name }}</ion-card-title>
            <ion-card-subtitle>{{ game.released }}</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            <ion-button expand="block" color="danger" (click)="removeFromFavorites(game.id)">
              Remove from Favorites
            </ion-button>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="favoriteGames.length === 0">
      <ion-col size="12" class="ion-text-center">
        <p>You don't have any favorite games yet.</p>
        <ion-button expand="block" routerLink="/home">
          Click here to get started
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>